<p><input type="checkbox" disabled {{#if this.isComplete}} checked {{/if}}> 
{{ todo.name }}</p> 
{{!-- 如果this.isComplete為真，就渲染；disabled因為只有顯示功能 --}}
<a href="/todos/{{todo.id}}/edit">edit</a>
<a href="/todos">back</a>
<form action="/todos/{{todo.id}}?_method=DELETE" method="POST" style="display: inline;">
  <button type="submit">delete</button>